<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 col-xl-6">
      <%= simple_form_for(pool) do |f| %>
      <%= f.input :photo, as: :file %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :size %>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>

