<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-4 col-xl-6">
      <%= simple_form_for(pool) do |f| %>
      <%= f.input :name %>
      <%= f.input :price %>
      <%= f.input :size %>
      <%= f.input :photos, as: :file, input_html: { multiple: true } %>
      <%= f.button_button t(".submit"), name: "Confirmar", class: "btn btn-flat" %>
      <% if pool.id.nil? %>
        <%= link_to "Cancelar", pools_path, method: :get, class: "btn btn-flat" %>
      <%else%>
        <%= link_to "Cancelar", pool_path, method: :get, class: "btn btn-flat" %>
      <% end %>
  <% end %>
    </div>
  </div>
</div>
