<div class="container-fluid">
  <div class="row row-cols-4 align-items-center">
    <div class="row w-100 justify-content-md-center">
      <% @pools.each do |pool| %>
          <div class="col-md-auto col-md-offset crdbig">
            <div class="index-pool">
                <div class="index-products">
                    <div class="index-infos">
                      <div class="index-infos">
                        <div>
                        <a href="<%= pool_path(pool.id) %>">
                          <% if pool.photos.attached? %>
                            <%= cl_image_tag pool.photos.first.key, :crop=>"fit", class: "img-cl" %></a>
                          <% else %>
                            <%= image_tag 'relax.jpg', :crop=>"fit", class: "img-cl" %></a>
                          <% end %>
                          <li><strong><%= pool.name %></strong></li>
                          <li><%= pool.address %></li>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
          </div>
        <% end %>
  </div>
</div>
