<div class="container">

<div class="card-pool">
  <%= cl_image_tag @pool.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="card-pool-infos">
      <div>
      <h2><%= @pool.name %></h2>
      <p><%= @pool.size %> metros </p>
      </div>
      <h2 class="card-pool-pricing">R$<%= (@pool.price)/100 %>/ diária</h2>
  </div>
</div>
<br>
<%= button_to "Editar esta piscina", edit_pool_path, method: :get %>
</div>
<div>
<%= link_to "Voltar", :pools, class: "btn btn-primary" %>
</div>