<h2>My Pools</h2>
<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Price</th>
      <th scope="col">Capacity</th>
      <th scope="col">Size</th>
    </tr>
  </thead>

  <tbody>
    <% @pools.each do |pool| %>
    <tr>
      <th scope="row"><%=pool.id%></th>
      <td><%=pool.name%></td>
      <td><%=pool.address%></td>
      <td><%=pool.price%></td>
      <td><%=pool.capacity%></td>
      <td><%=pool.size%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>

<h2>My Pool's Reservation</h2>

<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pool</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Price</th>
    </tr>
  </thead>

  <tbody>
    <% @pool_reservations.first.each do |order| %>
    <tr>
      <th scope="row"><%=order.id%></th>
      <td><%=order.pool.name%></td>
      <td><%=order.startdate%></td>
      <td><%=order.enddate%></td>
      <td><%=order.price%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
<h2>My Reservations</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pool</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Price</th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <th scope="row"><%=order.id%></th>
      <td><%=order.pool.name%></td>
      <td><%=order.startdate%></td>
      <td><%=order.enddate%></td>
      <td><%=order.price%></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
