
<h2>My Pools</h2>
<div class="container">

  <div class="row">

    <div class="col">

      <table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address</th>
      <th scope="col">Price</th>
      <th scope="col">Capacity</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    <% @pools.each do |pool| %>
    <tr>
      <td><%=pool.name%></td>
      <td><%=pool.address%></td>
      <td><%=pool.price%></td>
      <td><%=pool.capacity%></td>
      <td><%=pool.size%></td>
    </tr>
    <% end %>
  </tbody>
</table>

    </div>

    <div class="col">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Pool</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @pool_reservations.first.each do |order| %>
    <tr>
      <th scope="row">
      <td><%=order.startdate%></td>
      <td><%=order.enddate%></td>
      <td><%=order.price%></td>
    </tr>
    <% end %>
  </tbody>
</table>
    </div>

    <div class="col">
      <table class="table">
  <thead>
    <tr>
      <th scope="col">Pool</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td><%=order.pool.name%></td>
      <td><%=order.startdate%></td>
      <td><%=order.enddate%></td>
      <td><%=order.price%></td>
    </tr>
    <% end %>
  </tbody>
</table>

    </div>

  </div>

</div>


<h2>My Pool's Reservation</h2>

<div>

</div>
<h2>My Reservations</h2>

</div>
