

<div class="container-dashboard">
  <div class="row">

    <div class="col col-6">
      <div class="dash-title">My Pools</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Price</th>
            <th scope="col">Capacity</th>
            <th scope="col">Size</th>
          </tr>
        </thead>
        <tbody>
          <% @pools.each do |pool| %>
          <tr>
            <td><%=pool.name%></td>
            <td><%=pool.address%></td>
            <td><%=pool.price%></td>
            <td><%=pool.capacity%></td>
            <td><%=pool.size%></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>

    <div class="col col-6">
      <div class="dash-big-title">My Pool's Reservations</div>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Pool</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody>
          <% @pool_reservations.first.each do |order| %>
            <tr>

              <td><%=order.pool.name%></td>
              <td><%=order.startdate%></td>
              <td><%=order.enddate%></td>
              <td><%=order.price%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
<br>
<div class="container-dashboard">
  <div class="col col-12">
    <div class="dash-medium-title">My Reservations</div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Pool</th>
              <th scope="col">Start Date</th>
              <th scope="col">End Date</th>
              <th scope="col">Price</th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
              <tr>
                <td><%=order.pool.name%></td>
                <td><%=order.startdate%></td>
                <td><%=order.enddate%></td>
                <td><%=order.price%></td>
              </tr>
            <% end %>
          </tbody>
        </table>
  </div>

</div>
