<div class="container">

  <div>
    <h2>Your order</h2>
  </div>

  <div>
    <div class="image d-flex justify-content-center p-4">
      <div class="border" style="border-radius: 50px"><%= cl_image_tag @pool.photo.key, height: 300, width: 400, crop: :fill if @pool.photo.key %>
      </div>
    </div>
    <div>
      <div>
      <h2>Nome da piscina:</h2>
        <%= @pool.name %><br></div>
      <div>
      <h2>Tamanho da piscina:</h2>
      <%= @pool.size %>
</div>
    <div>
    <h3>Preço da piscina:</h3>
    R$ <%= @pool.price.to_i %>
      </div>
    </div>
  </div>


  <div class="container d-flex justify-content-center p-4 rounded">
    <div class="input">
      <%= simple_form_for [@pool, @order] do |f| %>
        <div><%= f.input :startdate %></div>
        <div><%= f.input :enddate %></div>
        <div>
          <%= f.submit "Reservar", class:"btn btn-primary"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
