<h1>PARTIU PISCINA</h1>
<%= link_to 'CADASTRAR NOVO USUARIO', new_user_registration_path %>
<%= link_to 'LOGAR', new_user_session_path %>
<%= button_to 'SAIR', destroy_user_session_path, method: :delete %>



<%= simple_form_for :search, url: root_path, method: "GET", html: { class: 'form-inline' } do |f| %>
  <%= f.input :capacity, input_html: {value: 0} %>
  <%= f.submit "Search", class: "btn btn-primary" %>
<% end %>
<% @pools.each do |pool| %>

    <div class="col-6">
      <li><%= pool.name %></li>
      <%= link_to 'SHOW THIS POOL', pool_path(pool.id) %>
      <%= button_to "add a new pool", new_pool_path, method: :get %>
    </div>
    <% end %>
